<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>modify</title>
</head>

<!--replace-->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<!--basic content 에 삽입되는 부분-->
	<th:block th:fragment="content">

		<h1 class="mt-4">GuestBook Modify Page</h1>

		<form action="/board/modify" method="post">

			<!--페이지 번호-->
			<input type="hidden" name="page" th:value="${requestDTO.page}">
			<input type="hidden" name="type" th:value="${requestDTO.type}">
			<input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

			<!-- 방명록 내용 -->
			<div class="form-group">
				<label>Bno</label>
				<input class="form-control" name="bno" readonly th:value="${dto.bno}" type="text"> <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>Title</label>
				<input class="form-control" name="title" th:value="${dto.title}" type="text"> <!-- 수정 가능 -->
			</div>

			<div class="form-group">
				<label>Content</label>
				<textarea class="form-control" name="content" rows="5">[[${dto.content}]]</textarea> <!-- 수정 가능 -->
			</div>

			<div class="form-group">
				<label>Writer</label>
				<input class="form-control" name="writer" readonly th:value="${dto.writerName}" type="text"> <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>RegDate</label>
				<input class="form-control" readonly th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" type="text">  <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>ModDate</label>
				<input class="form-control" readonly th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" type="text">  <!-- 수정 불가 (JPA 자동 처리) -->
			</div>

		</form>


		<!--수정하기 버튼-->
		<button type="button" class="btn btn-primary modifyBtn">Modify</button>

		<!--목록이동 버튼-->
		<button type="button" class="btn btn-info listBtn">List</button>

		<!--삭제 버튼-->
		<button type="button" class="btn btn-danger removeBtn">Remove</button>


		<!--수정/목록이동/삭제 버튼 처리-->
		<script th:inline="javascript">

            const actionForm = $("form");

            /*수정 처리*/
            $(".modifyBtn").click(function (){

                if(confirm("수정하시겠습니까?")) {
                    actionForm.attr("action", "/board/modify").attr("method", "post").submit();
                }

            })

            /*목록이동 처리*/
            $(".listBtn").click(() => {
                const page = $("input[name='page']")
                const type = $("input[name='type']")
                const keyword = $("input[name='keyword']")

                actionForm.empty() // form 태그의 모든 내용을 지움

                actionForm.append(page) // 목록 페이지 이동에 필요한 정보(page) 추가
                actionForm.append(type) // 목록 페이지 이동에 필요한 정보(type) 추가
                actionForm.append(keyword) // 목록 페이지 이동에 필요한 정보(keyword) 추가

                actionForm.attr("action", "/board/list").attr("method", "get")

                // console.log(actionForm.html())
                actionForm.submit()
            })


            /*삭제 처리*/
            $(".removeBtn").click(function (){

                actionForm.attr("action", "/board/remove").attr("method", "post");
                actionForm.submit();

            });

		</script>

	</th:block>

</th:block>

</html>