<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>read</title>
</head>

<!--replace-->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<!--basic content 에 삽입되는 부분-->
	<th:block th:fragment="content">


		<!--제목-->
		<h1 class="mt-4">Board Read Page</h1>



		<!--게시물 번호-->
		<div class="form-group">
			<label>Bno</label>
			<input type="text" class="form-control" name="gno" th:value="${dto.bno}" readonly>
		</div>

		<!--게시물 제목-->
		<div class="form-group">
			<label>Title</label>
			<input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
		</div>

		<!--게시물 내용-->
		<div class="form-group">
			<label>Content</label>
			<textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
		</div>

		<!--작성자-->
		<div class="form-group">
			<label>Writer</label>
			<input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
		</div>

		<!--작성일-->
		<div class="form-group">
			<label>RegDate</label>
			<input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>

		<!--최종 수정일-->
		<div class="form-group">
			<label>ModDate</label>
			<input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>



		<!--수정페이지 이동버튼-->
		<a th:href="@{/board/modify(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
			<button type="button" class="btn btn-primary">Modify</button>
		</a>

		<!--목록페이지 이동버튼-->
		<a th:href="@{/board/list(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
			<button type="button" class="btn btn-info">List</button>
		</a>

		<!--댓글-->
		<div>

			<!--댓글 버튼-->
			<div class="mt-4">
				<h5>
					<span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span>
				</h5>
			</div>


			<div class="list-group replyList">

			</div>

		</div>


		<!--댓글 버튼 처리-->
		<script th:inline="javascript">
			$(document).ready(() => { // Dom 이 완전히 불러와지면 실행

                const bno = [[${dto.bno}]];

                const listGroup = $(".replyList");

                $(".replyCount").click(
                    ()=> {$.getJSON('/replies/board/'+bno, (arr) => {console.log(arr)})} // end getJSON, https://mkil.tistory.com/357, https://www.google.co.kr/search?q=getjson+%EC%82%AC%EC%9A%A9%EB%B2%95&source=hp&ei=_nrcYuCENtvBhwPbl4nQBQ&iflsig=AJiK0e8AAAAAYtyJDoFae2VppRc4Fzf--3u5pRj43Mdp&oq=getJS&gs_lcp=Cgdnd3Mtd2l6EAMYAzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBwgAEIAEEAoyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoOCC4QgAQQsQMQxwEQ0QM6CAgAEIAEELEDOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6BAguEAM6CwguEIAEEMcBENEDOhEILhCABBCxAxDHARDRAxDUAjoOCC4QgAQQxwEQ0QMQ1AI6BggAEAoQEzoICAAQHhAKEBM6BggAEB4QE1AAWOwbYMI4aANwAHgAgAGvAYgBwwmSAQMwLjmYAQCgAQGwAQA&sclient=gws-wiz 참고
				)

			}) // end click
		</script>

	</th:block>

</th:block>

</html>