<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>read</title>
</head>

<!--replace-->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<!--basic content 에 삽입되는 부분-->
	<th:block th:fragment="content">


		<!--제목-->
		<h1 class="mt-4">Board Read Page</h1>



		<!--게시물 번호-->
		<div class="form-group">
			<label>Bno</label>
			<input type="text" class="form-control" name="gno" th:value="${dto.bno}" readonly>
		</div>

		<!--게시물 제목-->
		<div class="form-group">
			<label>Title</label>
			<input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
		</div>

		<!--게시물 내용-->
		<div class="form-group">
			<label>Content</label>
			<textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
		</div>

		<!--작성자-->
		<div class="form-group">
			<label>Writer</label>
			<input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
		</div>

		<!--작성일-->
		<div class="form-group">
			<label>RegDate</label>
			<input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>

		<!--최종 수정일-->
		<div class="form-group">
			<label>ModDate</label>
			<input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>



		<!--수정페이지 이동버튼-->
		<a th:href="@{/board/modify(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
			<button type="button" class="btn btn-primary">Modify</button>
		</a>

		<!--목록페이지 이동버튼-->
		<a th:href="@{/board/list(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
			<button type="button" class="btn btn-info">List</button>
		</a>

		<!--댓글-->
		<div>

			<!--댓글 버튼-->
			<div class="mt-4">

				<!--댓글 추가 버튼-->
				<h5>
					<span class="badge badge-info addReply">Add Reply</span>
				</h5>

				<!--댓글 보기 버튼-->
				<h5>
					<span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span>
				</h5>

			</div>


			<div class="list-group replyList">
			</div>

		</div>


		<!--댓글 추가 모달-->
		<div class="modal" tabindex="-1" role="dialog">

			<div class="modal-dialog" role="document">

				<div class="modal-content">


					<div class="modal-header">
						<h5 class="modal-title">Modal Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<input class="form-control" type="text" name="replyText" placeholder="Reply Text...">
						</div>

						<div class="form-group">
							<input class="form-control" type="text" name="replyer" placeholder="Replyer">
							<input type="hidden" name="rno">
						</div>

					</div>

					<div class="modal-footer">
						<!--삭제 버튼-->
						<button type="button" class="btn btn-danger replyRemove">Remove</button>
						<!--수정 버튼-->
						<button type="button" class="btn btn-warning replyModify">Modify</button>
						<!--저장 버튼-->
						<button type="button" class="btn btn-primary replySave">Save</button>

						<!--닫기 버튼-->
						<button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
					</div>


				</div>

			</div>

		</div>


		<!--댓글 보기 버튼 처리-->
		<script th:inline="javascript">

            $(document).ready(() => { // Dom 이 완전히 불러와지면 실행

                const bno = [[${dto.bno}]];

                /*------------------------------전역적으로 돌아가는------------------------------*/

                /*댓글 보기*/
                $(".replyCount").click(() => {loadJSONData()});


                /*댓글 추가 모달*/
                $(".addReply").click(() => {add_Modal()});


                /*댓글 저장*/
                $(".replySave").click(() => {save_Reply()});


                /*댓글을 클릭한다*/
				$(".replyList").on("click", ".card-body", ()=> {info_Reply()})


				/*댓글 삭제 버튼을 누른다*/
				$(".replyRemove").on("click", ()=> {remove_Reply()})

				/*-------------------------------모달 생성-------------------------------*/

                /*댓글 추가 모달*/
                const add_Modal = () => {
                    $('.modal').show();

                    /*입력창 초기화*/
                    $('input[name="replyText"]').val('');
                    $('input[name="replyer"]').val('');

                    $(".modal-footer .btn").hide(); // 모달 내의 모든 버튼을 안 보이도록
                    $(".replySave, .replyClose").show(); // 댓글 추가 모달에 필요한 버튼만 show
                }

                /*댓글 정보 모달*/
                const info_Reply = () => {
                    const rno = $(this).data("rno");

					$("input[name='replyText']").val($(this).find('.card-title').html());
					$("input[name='replyer']").val($(this).find('.card-subtitle').html());
					$("input[name='rno']").val(rno);

					$(".modal-footer .btn").hide();
                    $(".replyRemove, .replyModify, .replyClose").show();

                    $('.modal').show();

                }
                /*-------------------------------function-------------------------------*/

                /*날짜 처리 형식 변환*/
                const formatTime = (str) => {
                    const date = new Date(str);

                    return date.getFullYear() + '/'
                        + (date.getMonth() + 1) + '/'
                        + date.getDate() + ' '
                        + date.getHours() + ':'
                        + date.getMinutes();
                }

                /*댓글 리스트 불러오기*/
                const loadJSONData = () => {
                    $.getJSON('/replies/board/'+bno, arr => { // https://mkil.tistory.com/357  참고
                        console.log(arr)
						const Init = () => {
                            countInit()
                            createList()
						}
						/*댓글 수 초기화*/
						const countInit = () => {
                            $('.replyCount').html("  Reply Count  "+ arr.length);
                        }
                        /*댓글 리스트 생성*/
						const createList = () => {
                            let str = "";
                            $.each(arr, (idx, reply) => {
                                console.log("==========="+reply);

                                str +='<div class="card-body" data-rno="'+ reply.rno +'">'
                                str +='<b>'+ reply.rno +'</b>';
                                str +='<h5 class="card-title">'+ reply.text +'</h5>';
                                str +='<h6 class="card-subtitle mb-2 text-muted">'+ reply.replyer +'</h6>';
                                str +='<p class="card-text">'+ formatTime(reply.regDate) +'</p>';
                                str +='</div>';
                            })
                            $(".replyList").html(str);
						}
                        Init();
                    });
                }

                /*댓글 저장하기*/
                const save_Reply = () => {
                    /*reply dto 생성*/
                    const reply = {
                        bno: [[${dto.bno}]],
                        text: $('input[name="replyText"]').val(),
                        replyer: $('input[name="replyer"]').val(),
                    }
                    console.log(reply);
                    /*댓글 저장 처리*/
                    $.ajax({
                        url:'/replies/',
                        method:'post',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',

                        success: data => {
                            console.log(data);
                            const newRno = parseInt(data);
                            alert(newRno + "번 댓글이 등록되었습니다.");
                            $('.modal').hide();
                            loadJSONData(); // 댓글 목록 다시 호출
                        },
                    })
                }


                /*댓글을 삭제한다*/
				const remove_Reply = () => {
                    const rno = $("input[name='rno']").val();
                    $.ajax({
						url: '/replies/' + rno,
						method: 'delete',

						success: result => {
                            console.log("result: "+result);
                            if(result === 'success') {
                                alert("댓글이 삭제되었습니다");
                                $('.modal').hide();
                                loadJSONData();
							}

						}
					})
				}

            })
		</script>


	</th:block>

</th:block>

</html>